/* 시작 시 카드 분배 */

.cardSet.active .card-p1.playerId {
  transform: translateX(-250px) translateY(-250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p2.playerId {
  transform: translateX(150px) translateY(-250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p3.playerId {
  transform: translateX(500px) translateY(-250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p4.playerId {
  transform: translateX(500px) translateY(250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p5.playerId {
  transform: translateX(150px) translateY(250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p6.playerId {
  transform: translateX(-250px) translateY(250px);
  transition: 0.25s 0s ease-in-out;
}

.cardSet.active .card-p1.card1 {
  transform: translateX(-250px) translateY(-250px);
  transition: 0.25s 0.25s ease-in-out;
}

.cardSet.active .card-p2.card1 {
  transform: translateX(150px) translateY(-250px);
  transition: 0.25s 0.5s ease-in-out;
}

.cardSet.active .card-p3.card1 {
  transform: translateX(500px) translateY(-250px);
  transition: 0.25s 0.75s ease-in-out;
}

.cardSet.active .card-p4.card1 {
  transform: translateX(500px) translateY(250px);
  transition: 0.25s 1s ease-in-out;
}

.cardSet.active .card-p5.card1 {
  transform: translateX(150px) translateY(250px);
  transition: 0.25s 1.25s ease-in-out;
}

.cardSet.active .card-p6.card1 {
  transform: translateX(-250px) translateY(250px);
  transition: 0.25s 1.5s ease-in-out;
}

.cardSet.active .card-p1.card2 {
  transform: translateX(-250px) translateY(-250px);
  transition: 0.25s 1.75s ease-in-out;
}

.cardSet.active .card-p2.card2 {
  transform: translateX(150px) translateY(-250px);
  transition: 0.25s 2s ease-in-out;
}

.cardSet.active .card-p3.card2 {
  transform: translateX(500px) translateY(-250px);
  transition: 0.25s 2.25s ease-in-out;
}

.cardSet.active .card-p4.card2 {
  transform: translateX(500px) translateY(250px);
  transition: 0.25s 2.5s ease-in-out;
}

.cardSet.active .card-p5.card2 {
  transform: translateX(150px) translateY(250px);
  transition: 0.25s 2.75s ease-in-out;
}

.cardSet.active .card-p6.card2 {
  transform: translateX(-250px) translateY(250px);
  transition: 0.25s 3s ease-in-out;
}

.coin-set1.active {
  transform: translateX(-250px) translateY(-250px);
  transition: 0.25s 3.25s ease-in-out;
}

.coin-set2.active {
  transform: translateX(150px) translateY(-250px);
  transition: 0.25s 3.25s ease-in-out;
}

.coin-set3.active {
  transform: translateX(500px) translateY(-250px);
  transition: 0.25s 3.25s ease-in-out;
}

.coin-set4.active {
  transform: translateX(500px) translateY(250px);
  transition: 0.25s 3.25s ease-in-out;
}

.coin-set5.active {
  transform: translateX(150px) translateY(250px);
  transition: 0.25s 3.25s ease-in-out;
}

.coin-set6.active {
  transform: translateX(-250px) translateY(250px);
  transition: 0.25s 3.25s ease-in-out;
}

/* ############################################ */

/* 기본적인 설정 */
/* 지원 가능 해상도: 1680 x 1050; 1440 x 900; 1024 x 640. 16:10 화면 비율 */
.page {
  background-color: rgba(0, 0, 0, 0.85);
  width: 1680px;
  height: 1050px;
}

.gameHeader {
  position: relative;
  background-color: white;
  width: 1680px;
  height: 50px;
}

.lobbyButton {
  position: relative;
  width: 100px;
  height: 50px;
  float: left;
}

.tmp-btn {
  position: relative;
  width: 100px;
  height: 50px;
  float: right;
  margin-right: 100px;
}

.fabicon {
  position: relative;
  background-image: url(./images/fabicon.png);
  width: 250px;
  height: 50px;
  border: none;
  float: left;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deck {
  position: relative;
  float: left;
  top: 250px;
  left: 40%;
}
.card-dummy {
  background-image: url(./images/back.png);
}

.remain-card {
  color: white;
  padding-top: 30px;
  font: bold 1.2vw "TmonMonsori";
}
.timezone {
  position: relative;
  float: left;
  width: 650px;
  height: 30px;
  top: 43%;
  background-color: red;
  border-radius: 5%;
}

/* 전체적인 아티클들 위치 맞추기 */
.GameBoard {
  position: absolute;
  width: 500px;
  height: 100px;
  top:32%;
  left: 55%;

}
/* .console ul li {
  float: left;
} */

/* .console ul li button {
  width: 100px;
  height: 100px;
} */

/* 육각형 콘솔 */


.sideSection {
  /* position: relative; */
  margin-left: 148vmin;
}

.hintBox {
  position: relative;
  width: 50vmin;
  height: 30vmin;
  background-image: url(./images/hint.png);
}

.hintTitle {
  position: relative;
  font-size: 3vmin;
  font-weight: bold;
  color: black;
  text-shadow: 5px 5px 5px gray;
  top: 10%;
  left: 40%;
}

.hintTextBox {
  position: relative;
  width: 30vmin;
  height: 25vmin;
  top: 12%;
  left: 20%;
}

.hintTextBox p {
  padding-top: 2vmin;
}

.chatBox {
  position: relative;
  width: 50vmin;
  height: 35vmin;
  top: 5vmin;
  background-color: white;
  border-radius: 10%;
  border: 5px solid black;
}

/* 게임 섹션 */

/* 플레이어 위치 설정 */
.player {
  position: absolute;
  top: 40%;
  left: 25%;
}

/* .player1 {
  top: 5%;
  left: 13%;
}

.player2 {
  margin-top: 35%;
  margin-left: 47%;
}

.player3 {
  margin-top: 3%;
  margin-left: 47%;
}

.player4 {
  margin-top: 35%;
  margin-left: 13%;
}

.player5 {
  margin-top: 18%;
  margin-left: 53%;
}

.player6 {
  margin-top: 18%;
  margin-left: 5%;
} */

/* 카드 꾸미기 */
.card {
  width: 10vmin;
  height: 14vmin;
  border: 5px solid;
  border-radius: 10%;
  box-shadow: 10px 10px 10px black;
}

.card-p1 {
  border-color: pink;
}

.card-p2 {
  border-color: green;
}

.card-p3 {
  border-color: yellow;
}

.card-p4 {
  border-color: red;
}

.card-p5 {
  border-color: blue;
}

.card-p6 {
  border-color: blueviolet;
}

/* 카드 사이 조금 간격 주기 */
.card2 {
  margin-left: 2vmin;
}

/* 플레이어 아이디 정보 */
.playerId {
  font-size: 3vmin;
  font-weight: bold;
  text-shadow: 5px 5px 5px gray;
}

.card-p1.playerId {
  color: pink;
}

.card-p2.playerId {
  color: green;
}

.card-p3.playerId {
  color: yellow;
}

.card-p4.playerId {
  color: red;
}

.card-p5.playerId {
  color: blue;
}

.card-p6.playerId {
  color: blueviolet;
}

.coin-set {
  margin-left: 7vmin;
}

.coin {
  width: 5vmin;
  height: 5vmin;
}

.coin-set span {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 2vmin;
}


/* 안쪽 원판 */

/* .inner {
  height: 20vmin;
  width: 20vmin;
  position: absolute;
  top: 40%;
  left: 30.5%;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--c, black);
  border-radius: 50%;
  clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%);
} */

