
.GameStart{
  position: absolute;
  top:87.5%;
  right: 55%;
  border: 1px solid blue;
  background-color: skyblue;
  border-radius: 10px;
width: 700px;
  height: 100px;
  font-size: 45px;
  font-style: blue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.Exit{
  position: absolute;
  top:87.5%;
  right: 15%;
  border: 1px solid orange;
  background-color: red;
  border-radius: 10px;
width: 700px;
  height: 100px;
  font-size: 45px;
  font-style: blue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.imgdoor{
  position: absolute;
  top:3%;
  right:2%;
  border-radius: 10px;
  /* background-image: url(../../../dummy/door.png); */
  background-repeat: no-repeat;
  /* width: 100%; */
  /* height: 350px; */
  border-radius: 10px;
  /* margin-top: 7%; */
  margin-left:78%;
  /* margin-right: 100px;  */
  /* background-color: gray; */
    
  }

.Setting{
  position: absolute;
  top: 3%;
  right: 5%;
  border-radius: 10px;
}

.LobbyTitle{
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, #FFBF00,#A9BCF5,#D8F781,#BDBDBD,#00BFFF);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.LobbyTable{
 text-align: center;
}

.SubTitle1{
  position: absolute;
  top:66%;
  left: 5%;
  font-size: 25px;
  background-color: aqua;
}


.SubTitle2{
  position: absolute;
  top: 66%;
  left: 40%;
  font-size: 25px;
  background-color: blueviolet;
}


.SubTitle3{
  position: absolute;
  top: 66%;
  left: 70%;
  font-size: 25px;
  background-color: #FA58F4;
}


.backGround{
  background-image: url(../../../dummy/card-back.png);
  width: 100%;
  height: 330px;
  border-radius: 300px;
}

.table {
  border: 1px solid black;
  table-layout: auto;
  margin: 200px;
  /* width: 300%; */
  height: 100%;
  border-radius: 300px;
  /* 이거 건드리면 둥그렇게 됨 */
}

th{
  border: 3px solid black;
  padding: 50px;
  width: 200px;
  border-radius: 300px;
}

td{
  border: 2px solid black;
  padding: 50px;
  /* width: 650px; */

 
}

.Mothertable{
  /* background-image: url(../../../dummy/card-back.png); */
  background-repeat: no-repeat;
  border-radius: 300px;

}

.tdFirst{
  font-size: 30px;
  width: 80px;
  border-radius: 300px;
  font-family: 'Times New Roman', Times, serif;
}

.tdSecond{
  font-size: 30px;
  width: 1300px;
  /* border-radius: 300px; */
  text-align: right;
  height: 30px;
  /* background-color: red;*/
  text-align: center;
} 

.OneIsGreen{
  background-color: green;
}

.Present{
  margin-left: 80%;
}

.LobbyBottom{
  font-size: 100px;
  margin-left: 20%;
}
.Channel{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image:  url(../../../dummy/card-back.png);
  background-repeat: no-repeat;
  background-position: center;
}

.People{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image:  url(../../../dummy/AllPeople.png);
  /* background-repeat: no-repeat; */
  background-position: center;
}

.createRoom{
  
  width: 100px;
  /* margin-left: 1500%; */
   border-radius: 30px;
} 