/* .chatWrapper {
    position: relative;
} */

/* 채팅창 보이게 하려면 스타일 적용해야 함 */
.chatcontainer {
    border: 5px solid black;
    border-radius: 3%;
    width: 45vmin;
    height: 50vmin;
    overflow-y: scroll;
    background-color: bisque;
    /* 스크롤바 속성 적용 */
    margin-top: 2vmin;
    margin-bottom: 1vmin;
    padding: 2vmin;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.chatcontainer::-webkit-scrollbar {
    display: none;
}

/* .messageInput {
    position: fixed;
    bottom: 500;
} */

.submitBtn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 12px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* .text {
    font-weight: bold;
    color: blue;
} */