.readyButton1{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-top: 700px;
    font-size: 50px;
    margin-left: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
    
}

.readyButton2{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-top: 700px;
    margin-left: 866px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
}

.readyButton3{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-top: 700px;
    margin-left: 1532px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
}

.readyButton4{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-top: 1000px;
    font-size: 50px;
    margin-left: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
}

.readyButton5{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-left: 866px;
    margin-top: 1000px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
}

.readyButton6{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-left: 1532px;
    margin-top: 1000px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
}


.startButton{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 99px;
    margin-left: 2000px;
    margin-top: 1000px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-color:white;
  
}

.rectangle{
    position: absolute;
    border-color: green;
   
    margin-left: 200px;
   }